rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      function self() {
        return request.auth.uid == uid &&
        request.resource.data.admin == false &&
        request.resource.data.moderator == false
      }
      function admin() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      }
      allow create: if self();
      allow update: if self() || admin();
      allow read
    }
  }
}