.homeContainer {
  padding: 1rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .heading {
    font-size: 2.25rem;
    text-transform: uppercase;
  }
  .description {
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
  }
  .buttonGroup {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .coverImage {
    max-width: min(45vw, 20rem);
    margin: 1rem 0;
  }
}
