.linksPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  .coursePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    .subHeading {
      font-size: 1.25rem;
    }
    .linksList {
      display: flex;
      flex-direction: column;
      width: 100%;
      .linkDiv {
        margin: 0.5rem 0;
        display: flex;
        padding: 0.5rem;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .linkPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .signInHint {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.75rem;
      margin: 0.5rem;
      color: #404040;
    }
    .buttonGroup {
      display: flex;
      align-self: flex-end;
      margin: 0.25rem;
    }
  }
}
