.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  .backButton {
    align-self: flex-start;
    margin: 0.5rem;
    display: flex;
    align-content: center;
    align-items: center;
    .backIcon,
    .backText {
      margin: 0.25rem;
    }
  }
  .headerText {
    margin: 0.5rem;
    font-size: 2.25rem;
    text-align: center;
    @media screen and (max-width: 425px) {
      margin: 0.25rem;
      font-size: 1.5rem;
    }
  }
  .headerSubText {
    margin: 0.25rem;
    font-size: 1.25rem;
    text-align: center;
    width: fit-content;
    @media screen and (max-width: 425px) {
      margin: 0.125rem;
      font-size: 1.25rem;
    }
  }
  .mainPanel {
    display: flex;
    width: 100%;
    max-width: 50rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .moderatorPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    .buttonGroup {
      align-self: flex-end;
      margin: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .button {
        flex: 1 1 auto;
        margin: 0.2rem;
        display: flex;
        align-content: center;
        align-items: center;
        .buttonIcon,
        .buttonText {
          margin: 0.25rem;
        }
      }
    }
  }
  .coursePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    .buttonGroup {
      align-self: flex-end;
      margin: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .button {
        flex: 1 1 auto;
        margin: 0.2rem;
        display: flex;
        align-content: center;
        align-items: center;
        .buttonIcon,
        .buttonText {
          margin: 0.25rem;
        }
      }
    }
  }
}
